.main {
    padding-top: 30px;
    height: 100%;
    width: 100%;

}

.content {
    background: white;
    width: 100%;
    height: 100%;
    padding-top: 48px;
    display: flex;
    flex-direction: column;
}
.main__select {
    width: 200px;
}
.main__header {
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 60px;
    align-items: center;
}