.sidebar {
    min-width: 100px;
    max-width: 300px;
    width: 20%;
    color: white;
    padding-top: 53px;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.title {
    padding-left: 40px;
}