.sidebarItems {
    margin-top: 50px;
    z-index: 100;
    overflow-y: scroll;
}

.sidebarItems::-webkit-scrollbar {
    width: 20px;
}

.sidebarItems::-webkit-scrollbar-track {
    background: #2a3472;

}
.sidebarItems::-webkit-scrollbar-thumb {
    background: #444C7D;
}